<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Error</title>
    <link rel="stylesheet" href="sass/style.css" />
     <script>
         alert('Click OK to show error! \n After 5 seconds \n Page will be redirect to the main page.');
        setTimeout(()=>{
            window.location.href='/'
        }, 5000);
    </script>
</head>
<body style="background-color: #fff;">
    <h1>{{error}}</h1>
    <div class="error">
        <img src="images/Base Error Page.PNG"/>
    </div>
    <h2>*please try to enter correct value.</h2>
</body>
</html>